NODE_ENV=development
SERVER_PORT=3001

APP_PUBLIC_BASE_URL=https://domain
GITEA_BASE_URL=https://domain

GITEA_CLIENT_ID=REPLACE_ME
GITEA_CLIENT_SECRET=REPLACE_ME
GITEA_SCOPES=openid profile email repository

DATABASE_URL=postgresql://USERNAME:PASSWORD@DOMAIN:PORT/DATABASE_NAME

SESSION_NAME=jirea.sid
SESSION_SECRET=REALLY_LONG_RANDOM_SESSION_SECRET

TRUST_PROXY=false
COOKIE_SECURE=false
CLIENT_DIST_PATH=../client/dist